.accessibleEnvironmentPage {
  display: contents;
}
.accessibleEnvironmentPage .reset, .accessibleEnvironmentPage .allDefault, .accessibleEnvironmentPage .aText, .accessibleEnvironmentPage .aElement, .accessibleEnvironmentPage * {
  box-sizing: border-box;
  margin: 0;
}
.accessibleEnvironmentPage .allDefault, .accessibleEnvironmentPage .aText, .accessibleEnvironmentPage .aElement {
  all: unset;
}
.accessibleEnvironmentPage .pageElement, .accessibleEnvironmentPage .hScroll {
  width: clamp(400px, 100%, 1920px);
  padding: 0 144px 0 144px;
}
@media (max-width: 900px) {
  .accessibleEnvironmentPage .pageElement, .accessibleEnvironmentPage .hScroll {
    padding: 0 16px 0 16px;
  }
}
.accessibleEnvironmentPage .rowWrap {
  display: flex;
  flex-flow: row wrap;
}
.accessibleEnvironmentPage .row, .accessibleEnvironmentPage .downloadWidgetLight, .accessibleEnvironmentPage .downloadWidget, .accessibleEnvironmentPage .expandableListElement .contentContainer .titleContainer {
  display: flex;
  flex-flow: row nowrap;
}
.accessibleEnvironmentPage .col, .accessibleEnvironmentPage .downloadWidgetList, .accessibleEnvironmentPage .expandableListElement .contentContainer .childrenContainer, .accessibleEnvironmentPage .expandableListElement .contentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.accessibleEnvironmentPage .center, .accessibleEnvironmentPage .downloadWidgetLight .iconBox, .accessibleEnvironmentPage .expandableListElement, .accessibleEnvironmentPage .hScroll {
  display: grid;
  place-items: center;
}
.accessibleEnvironmentPage h2 {
  font: 400 40px Forum;
  color: #21385F;
  line-height: 44px;
}
.accessibleEnvironmentPage h3 {
  font: 400 32px Forum;
  color: #64748F;
  line-height: 35px;
}
.accessibleEnvironmentPage h4 {
  font: 400 24px Forum;
  color: #64748F;
  line-height: 26px;
}
.accessibleEnvironmentPage .text {
  font: 300 16px "Museo Sans";
  color: #3B3B3B;
}
.accessibleEnvironmentPage .text b {
  font-weight: 600;
}
.accessibleEnvironmentPage .aElement {
  display: contents;
}
.accessibleEnvironmentPage .linkText:hover, .accessibleEnvironmentPage .downloadWidgetLight span:hover, .accessibleEnvironmentPage .downloadWidget span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.accessibleEnvironmentPage .aText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.accessibleEnvironmentPage .ul {
  padding-left: 20px;
}
.accessibleEnvironmentPage .ol {
  padding-left: 20px;
}
.accessibleEnvironmentPage .hScroll {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.accessibleEnvironmentPage .gridTable, .accessibleEnvironmentPage .responsiblePeople, .accessibleEnvironmentPage .servicesOnObject, .accessibleEnvironmentPage .addressAndPhone {
  display: grid;
}
.accessibleEnvironmentPage .gridTable .th, .accessibleEnvironmentPage .responsiblePeople .th, .accessibleEnvironmentPage .servicesOnObject .th, .accessibleEnvironmentPage .addressAndPhone .th {
  padding: 16px 24px;
  background: #294985;
  font: 400 24px Forum;
  color: #E9ECF2;
}
.accessibleEnvironmentPage .gridTable .tb, .accessibleEnvironmentPage .responsiblePeople .tb, .accessibleEnvironmentPage .servicesOnObject .tb, .accessibleEnvironmentPage .addressAndPhone .tb {
  display: contents;
}
.accessibleEnvironmentPage .gridTable .tb .tr *, .accessibleEnvironmentPage .responsiblePeople .tb .tr *, .accessibleEnvironmentPage .servicesOnObject .tb .tr *, .accessibleEnvironmentPage .addressAndPhone .tb .tr * {
  background: #E9ECF2;
}
.accessibleEnvironmentPage .gridTable .tbStriped, .accessibleEnvironmentPage .responsiblePeople .tbStriped, .accessibleEnvironmentPage .servicesOnObject .tbStriped, .accessibleEnvironmentPage .addressAndPhone .tbStriped {
  display: contents;
}
.accessibleEnvironmentPage .gridTable .tbStriped > .tr:nth-of-type(odd) > *, .accessibleEnvironmentPage .responsiblePeople .tbStriped > .tr:nth-of-type(odd) > *, .accessibleEnvironmentPage .servicesOnObject .tbStriped > .tr:nth-of-type(odd) > *, .accessibleEnvironmentPage .addressAndPhone .tbStriped > .tr:nth-of-type(odd) > * {
  background: #E9ECF2;
}
.accessibleEnvironmentPage .gridTable .tbStriped > .tr:nth-of-type(even) > *, .accessibleEnvironmentPage .responsiblePeople .tbStriped > .tr:nth-of-type(even) > *, .accessibleEnvironmentPage .servicesOnObject .tbStriped > .tr:nth-of-type(even) > *, .accessibleEnvironmentPage .addressAndPhone .tbStriped > .tr:nth-of-type(even) > * {
  background: #BEC8DA;
}
.accessibleEnvironmentPage .gridTable .tr, .accessibleEnvironmentPage .responsiblePeople .tr, .accessibleEnvironmentPage .servicesOnObject .tr, .accessibleEnvironmentPage .addressAndPhone .tr {
  /*display: grid;
  grid-template: auto / subgrid;
  grid-column: 1 / grid-end;*/
  display: contents;
}
.accessibleEnvironmentPage .gridTable .td, .accessibleEnvironmentPage .responsiblePeople .td, .accessibleEnvironmentPage .servicesOnObject .td, .accessibleEnvironmentPage .addressAndPhone .td {
  padding: 24px;
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.accessibleEnvironmentPage .expandableListElement {
  width: 100%;
  background: #21385F;
}
.accessibleEnvironmentPage .expandableListElement .contentContainer .titleContainer {
  align-items: center;
  gap: 16px;
  padding: 24px 16px 24px 16px;
  cursor: pointer;
}
.accessibleEnvironmentPage .expandableListElement .contentContainer .titleContainer .plus {
  width: 24px;
  height: 24px;
}
.accessibleEnvironmentPage .expandableListElement .contentContainer .titleContainer .title {
  font: 400 24px Forum;
  color: #E8EAEE;
  line-height: 26px;
}
.accessibleEnvironmentPage .expandableListElement .contentContainer .childrenContainer {
  gap: 24px;
  padding: 0px 16px 32px 16px;
  display: none;
}
.accessibleEnvironmentPage .expandableListElement .contentContainer .childrenContainerVisible {
  display: flex;
}
.accessibleEnvironmentPage .downloadWidgetList {
  gap: 32px;
}
.accessibleEnvironmentPage .downloadWidget {
  justify-content: start;
  gap: 16px;
}
.accessibleEnvironmentPage .downloadWidget img {
  height: 24px;
  width: 24px;
  color: #21385f;
}
.accessibleEnvironmentPage .downloadWidget span {
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.accessibleEnvironmentPage .downloadWidgetLight {
  justify-content: start;
  gap: 16px;
}
.accessibleEnvironmentPage .downloadWidgetLight .iconBox {
  width: 24px;
  height: 24px;
}
.accessibleEnvironmentPage .downloadWidgetLight .iconBox img {
  height: auto;
  width: 14px;
  color: #E8EAEE;
}
.accessibleEnvironmentPage .downloadWidgetLight span {
  font: 300 16px "Museo Sans";
  color: #BBC2CE;
  line-height: 144%;
}
.accessibleEnvironmentPage .mapImg {
  width: min(100%, 600px);
  height: auto;
}
.accessibleEnvironmentPage .addressAndPhone {
  grid-template-columns: 256px 346px [grid-end];
}
.accessibleEnvironmentPage .servicesOnObject {
  width: 100%;
  min-width: 660px;
  overflow-x: auto;
  grid-template-columns: 1fr 2fr [grid-end];
}
.accessibleEnvironmentPage .responsiblePeople {
  width: 100%;
  min-width: 800px;
  grid-template-columns: 1fr 1fr 0.5fr [grid-end];
}

/*# sourceMappingURL=accessible-environment.css.map */
