.distanceLearningPage {
  display: contents;
}
.distanceLearningPage .reset, .distanceLearningPage .allDefault, .distanceLearningPage .aTextU, .distanceLearningPage .aText, .distanceLearningPage .aElement, .distanceLearningPage * {
  box-sizing: border-box;
  margin: 0;
}
.distanceLearningPage .allDefault, .distanceLearningPage .aTextU, .distanceLearningPage .aText, .distanceLearningPage .aElement {
  all: unset;
}
.distanceLearningPage .pageElement, .distanceLearningPage .hScroll {
  width: clamp(400px, 100%, 1920px);
  padding: 0 144px 0 144px;
}
@media (max-width: 900px) {
  .distanceLearningPage .pageElement, .distanceLearningPage .hScroll {
    padding: 0 16px 0 16px;
  }
}
.distanceLearningPage .rowWrap, .distanceLearningPage .photos, .distanceLearningPage .timetableOfClasses {
  display: flex;
  flex-flow: row wrap;
}
.distanceLearningPage .row, .distanceLearningPage .downloadWidgetLight, .distanceLearningPage .downloadWidget, .distanceLearningPage .expandableListElement .contentContainer .titleContainer, .distanceLearningPage .expandableListElement .sessionDates .titleContainer {
  display: flex;
  flex-flow: row nowrap;
}
.distanceLearningPage .col, .distanceLearningPage .downloadWidgetList, .distanceLearningPage .expandableListElement .contentContainer .childrenContainer, .distanceLearningPage .expandableListElement .sessionDates .childrenContainer, .distanceLearningPage .expandableListElement .contentContainer, .distanceLearningPage .expandableListElement .sessionDates, .distanceLearningPage .adCard, .distanceLearningPage .forAllQuestionsCard, .distanceLearningPage .debtorCard, .distanceLearningPage .freshmanMeetingCard {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.distanceLearningPage .center, .distanceLearningPage .groupNumbers .td, .distanceLearningPage .timetableOfClasses .item, .distanceLearningPage .specialitiesList .td, .distanceLearningPage .freshmanMeetingTable .tr > :nth-child(n+3), .distanceLearningPage .freshmanMeetingTable .ths > :nth-child(n+3), .distanceLearningPage .downloadWidgetLight .iconBox, .distanceLearningPage .expandableListElement, .distanceLearningPage .hScroll {
  display: grid;
  place-items: center;
}
.distanceLearningPage .none {
  display: none;
}
.distanceLearningPage .contents {
  display: contents;
}
.distanceLearningPage h2 {
  font: 400 40px Forum;
  color: #21385F;
  line-height: 44px;
}
.distanceLearningPage h3 {
  font: 400 32px Forum;
  color: #64748F;
  line-height: 35px;
}
.distanceLearningPage h4 {
  font: 400 24px Forum;
  color: #64748F;
  line-height: 26px;
}
.distanceLearningPage .text, .distanceLearningPage .timetableOfClasses .item {
  font: 300 16px "Museo Sans";
  color: #3B3B3B;
}
.distanceLearningPage .text b, .distanceLearningPage .timetableOfClasses .item b {
  font-weight: 600;
}
.distanceLearningPage .aElement {
  display: contents;
}
.distanceLearningPage .linkText:hover, .distanceLearningPage .downloadWidgetLight span:hover, .distanceLearningPage .downloadWidget span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.distanceLearningPage .aText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.distanceLearningPage .aTextU {
  cursor: pointer;
  text-decoration: underline;
}
.distanceLearningPage ul {
  padding-left: 20px;
}
.distanceLearningPage ol {
  padding-left: 20px;
}
.distanceLearningPage .adCard, .distanceLearningPage .forAllQuestionsCard, .distanceLearningPage .debtorCard, .distanceLearningPage .freshmanMeetingCard {
  background: #697FA9;
  backdrop-filter: blur(32px);
  border-radius: 2px;
  padding: 31px;
  gap: 32px;
}
.distanceLearningPage .adCard h3, .distanceLearningPage .forAllQuestionsCard h3, .distanceLearningPage .debtorCard h3, .distanceLearningPage .freshmanMeetingCard h3 {
  color: #E9ECF2;
  align-self: center;
  text-align: center;
}
.distanceLearningPage .adCard .text, .distanceLearningPage .forAllQuestionsCard .text, .distanceLearningPage .adCard .timetableOfClasses .item, .distanceLearningPage .forAllQuestionsCard .timetableOfClasses .item, .distanceLearningPage .timetableOfClasses .adCard .item, .distanceLearningPage .timetableOfClasses .forAllQuestionsCard .item, .distanceLearningPage .debtorCard .text, .distanceLearningPage .debtorCard .timetableOfClasses .item, .distanceLearningPage .timetableOfClasses .debtorCard .item, .distanceLearningPage .freshmanMeetingCard .text, .distanceLearningPage .freshmanMeetingCard .timetableOfClasses .item, .distanceLearningPage .timetableOfClasses .freshmanMeetingCard .item {
  color: #BEC8DA;
}
.distanceLearningPage .hScroll {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.distanceLearningPage .gridTable, .distanceLearningPage .groupNumbers, .distanceLearningPage .specialitiesList, .distanceLearningPage .freshmanMeetingTable {
  display: grid;
}
.distanceLearningPage .gridTable .ths, .distanceLearningPage .groupNumbers .ths, .distanceLearningPage .specialitiesList .ths, .distanceLearningPage .freshmanMeetingTable .ths {
  display: contents;
}
.distanceLearningPage .gridTable .th, .distanceLearningPage .groupNumbers .th, .distanceLearningPage .specialitiesList .th, .distanceLearningPage .freshmanMeetingTable .th {
  padding: 16px 22px;
  background: #294985;
  font: 400 24px Forum;
  color: #E9ECF2;
}
.distanceLearningPage .gridTable .tb, .distanceLearningPage .groupNumbers .tb, .distanceLearningPage .specialitiesList .tb, .distanceLearningPage .freshmanMeetingTable .tb {
  display: contents;
}
.distanceLearningPage .gridTable .tb .tr *, .distanceLearningPage .groupNumbers .tb .tr *, .distanceLearningPage .specialitiesList .tb .tr *, .distanceLearningPage .freshmanMeetingTable .tb .tr * {
  background: #E9ECF2;
}
.distanceLearningPage .gridTable .tbStriped, .distanceLearningPage .groupNumbers .tbStriped, .distanceLearningPage .specialitiesList .tbStriped, .distanceLearningPage .freshmanMeetingTable .tbStriped {
  display: contents;
}
.distanceLearningPage .gridTable .tbStriped > .tr:nth-of-type(odd) > *, .distanceLearningPage .groupNumbers .tbStriped > .tr:nth-of-type(odd) > *, .distanceLearningPage .specialitiesList .tbStriped > .tr:nth-of-type(odd) > *, .distanceLearningPage .freshmanMeetingTable .tbStriped > .tr:nth-of-type(odd) > * {
  background: #E9ECF2;
}
.distanceLearningPage .gridTable .tbStriped > .tr:nth-of-type(even) > *, .distanceLearningPage .groupNumbers .tbStriped > .tr:nth-of-type(even) > *, .distanceLearningPage .specialitiesList .tbStriped > .tr:nth-of-type(even) > *, .distanceLearningPage .freshmanMeetingTable .tbStriped > .tr:nth-of-type(even) > * {
  background: #BEC8DA;
}
.distanceLearningPage .gridTable .tr, .distanceLearningPage .groupNumbers .tr, .distanceLearningPage .specialitiesList .tr, .distanceLearningPage .freshmanMeetingTable .tr {
  /*display: grid;
  grid-template: auto / subgrid;
  grid-column: 1 / grid-end;*/
  display: contents;
}
.distanceLearningPage .gridTable .td, .distanceLearningPage .groupNumbers .td, .distanceLearningPage .specialitiesList .td, .distanceLearningPage .freshmanMeetingTable .td {
  padding: 16px 22px;
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.distanceLearningPage .expandableListElement {
  width: 100%;
  background: #21385F;
}
.distanceLearningPage .expandableListElement .contentContainer .titleContainer, .distanceLearningPage .expandableListElement .sessionDates .titleContainer {
  align-items: center;
  gap: 16px;
  padding: 24px 16px 24px 16px;
  cursor: pointer;
}
.distanceLearningPage .expandableListElement .contentContainer .titleContainer .plus, .distanceLearningPage .expandableListElement .sessionDates .titleContainer .plus {
  width: 24px;
  height: 24px;
}
.distanceLearningPage .expandableListElement .contentContainer .titleContainer .title, .distanceLearningPage .expandableListElement .sessionDates .titleContainer .title {
  font: 400 24px Forum;
  color: #E8EAEE;
  line-height: 26px;
}
.distanceLearningPage .expandableListElement .contentContainer .childrenContainer, .distanceLearningPage .expandableListElement .sessionDates .childrenContainer {
  gap: 24px;
  padding: 0px 16px 32px 16px;
}
.distanceLearningPage .expandableListElement .contentContainer .childrenContainer .text, .distanceLearningPage .expandableListElement .sessionDates .childrenContainer .text, .distanceLearningPage .expandableListElement .contentContainer .childrenContainer .timetableOfClasses .item, .distanceLearningPage .expandableListElement .sessionDates .childrenContainer .timetableOfClasses .item, .distanceLearningPage .timetableOfClasses .expandableListElement .contentContainer .childrenContainer .item, .distanceLearningPage .timetableOfClasses .expandableListElement .sessionDates .childrenContainer .item {
  color: #BBC2CE;
}
.distanceLearningPage .downloadWidgetList {
  gap: 32px;
}
.distanceLearningPage .downloadWidget {
  justify-content: start;
  gap: 16px;
}
.distanceLearningPage .downloadWidget img {
  height: 24px;
  width: 24px;
  color: #21385f;
}
.distanceLearningPage .downloadWidget span {
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.distanceLearningPage .downloadWidgetLight {
  justify-content: start;
  gap: 16px;
}
.distanceLearningPage .downloadWidgetLight .iconBox {
  width: 24px;
  height: 24px;
}
.distanceLearningPage .downloadWidgetLight .iconBox img {
  height: auto;
  width: 14px;
  color: #E8EAEE;
}
.distanceLearningPage .downloadWidgetLight span {
  font: 300 16px "Museo Sans";
  color: #BBC2CE;
  line-height: 144%;
}
.distanceLearningPage .mapImg {
  width: min(100%, 600px);
  height: auto;
}
.distanceLearningPage .freshmanMeetingCard {
  max-width: 1154px;
}
.distanceLearningPage .freshmanMeetingTable {
  width: 100%;
  min-width: 650px;
  grid-template-columns: 1fr 1.5fr 1fr 1fr [grid-end];
}
.distanceLearningPage .freshmanMeetingTable .ths > :nth-child(n+3) {
  text-align: center;
}
.distanceLearningPage .freshmanMeetingTable .tr > :nth-child(n+3) {
  text-align: center;
}
.distanceLearningPage .specialitiesList {
  width: 100%;
  min-width: 900px;
  grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1.5fr 1fr [grid-end];
}
.distanceLearningPage .specialitiesList .td {
  text-align: center;
}
.distanceLearningPage .debtorCard {
  max-width: 882px;
}
.distanceLearningPage .timetableOfClasses {
  width: 100%;
  max-width: calc(138px * 4 + 32px * 3);
  gap: 32px;
}
.distanceLearningPage .timetableOfClasses .item {
  width: 138px;
  height: 39px;
  border: 1px solid #294985;
  border-radius: 2px;
  color: #294985;
}
.distanceLearningPage .sessionDates {
  max-width: 730px;
  width: 100%;
}
.distanceLearningPage .groupNumbers {
  width: 100%;
  min-width: 900px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [grid-end];
}
.distanceLearningPage .groupNumbers .th {
  text-align: center;
}
.distanceLearningPage .groupNumbers .td {
  text-align: center;
}
.distanceLearningPage .forAllQuestionsCard {
  max-width: 878px;
}
.distanceLearningPage .photos {
  gap: 32px;
  max-width: calc(300px * 4 + 32px * 3);
  justify-content: center;
}
.distanceLearningPage .photos img {
  width: 300px;
  height: 150px;
  object-position: center;
  object-fit: cover;
}

/*# sourceMappingURL=distance-learning.css.map */
