.employmentPage {
  display: contents;
}
.employmentPage .reset, .employmentPage .allDefault, .employmentPage .aTextU, .employmentPage .aText, .employmentPage .aElement, .employmentPage * {
  box-sizing: border-box;
  margin: 0;
}
.employmentPage .allDefault, .employmentPage .aTextU, .employmentPage .aText, .employmentPage .aElement {
  all: unset;
}
.employmentPage .pageElement, .employmentPage .hScroll {
  width: clamp(400px, 100%, 1920px);
  padding: 0 144px 0 144px;
}
@media (max-width: 900px) {
  .employmentPage .pageElement, .employmentPage .hScroll {
    padding: 0 16px 0 16px;
  }
}
.employmentPage .rowWrap, .employmentPage .partners {
  display: flex;
  flex-flow: row wrap;
}
.employmentPage .row, .employmentPage .downloadWidgetLight, .employmentPage .downloadWidget, .employmentPage .expandableListElement .contentContainer .titleContainer {
  display: flex;
  flex-flow: row nowrap;
}
.employmentPage .col, .employmentPage .downloadWidgetList, .employmentPage .expandableListElement .contentContainer .childrenContainer, .employmentPage .expandableListElement .contentContainer, .employmentPage .adCard {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.employmentPage .center, .employmentPage .eventsTable .th, .employmentPage .eventsTable .td, .employmentPage .downloadWidgetLight .iconBox, .employmentPage .expandableListElement, .employmentPage .hScroll {
  display: grid;
  place-items: center;
}
.employmentPage .none {
  display: none;
}
.employmentPage .contents {
  display: contents;
}
.employmentPage h2 {
  font: 400 40px Forum;
  color: #21385F;
  line-height: 44px;
}
.employmentPage h3 {
  font: 400 32px Forum;
  color: #64748F;
  line-height: 35px;
}
.employmentPage h4 {
  font: 400 24px Forum;
  color: #64748F;
  line-height: 26px;
}
.employmentPage .text {
  font: 300 16px "Museo Sans";
  color: #3B3B3B;
}
.employmentPage .text b {
  font-weight: 600;
}
.employmentPage .aElement {
  display: contents;
}
.employmentPage .linkText:hover, .employmentPage .downloadWidgetLight span:hover, .employmentPage .downloadWidget span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.employmentPage .aText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.employmentPage .aTextU {
  cursor: pointer;
  text-decoration: underline;
}
.employmentPage ul {
  padding-left: 22px;
}
.employmentPage .ul44 {
  padding-left: 44px;
}
.employmentPage ol {
  padding-left: 20px;
}
.employmentPage .adCard {
  background: #697FA9;
  backdrop-filter: blur(32px);
  border-radius: 2px;
  padding: 31px;
  gap: 32px;
}
.employmentPage .adCard h3 {
  color: #E9ECF2;
  align-self: center;
  text-align: center;
}
.employmentPage .adCard .text {
  color: #BEC8DA;
}
.employmentPage .hScroll {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.employmentPage .gridTable, .employmentPage .eventsTable {
  display: grid;
}
.employmentPage .gridTable .ths, .employmentPage .eventsTable .ths {
  display: contents;
}
.employmentPage .gridTable .th, .employmentPage .eventsTable .th {
  padding: 16px 22px;
  background: #294985;
  font: 400 24px Forum;
  color: #E9ECF2;
  line-height: 26px;
}
.employmentPage .gridTable .tb, .employmentPage .eventsTable .tb {
  display: contents;
}
.employmentPage .gridTable .tb .tr *, .employmentPage .eventsTable .tb .tr * {
  background: #E9ECF2;
}
.employmentPage .gridTable .tbStriped, .employmentPage .eventsTable .tbStriped {
  display: contents;
}
.employmentPage .gridTable .tbStriped > .tr:nth-of-type(odd) > *, .employmentPage .eventsTable .tbStriped > .tr:nth-of-type(odd) > * {
  background: #E9ECF2;
}
.employmentPage .gridTable .tbStriped > .tr:nth-of-type(even) > *, .employmentPage .eventsTable .tbStriped > .tr:nth-of-type(even) > * {
  background: #BEC8DA;
}
.employmentPage .gridTable .tr, .employmentPage .eventsTable .tr {
  /*display: grid;
  grid-template: auto / subgrid;
  grid-column: 1 / grid-end;*/
  display: contents;
}
.employmentPage .gridTable .td, .employmentPage .eventsTable .td {
  padding: 16px 22px;
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.employmentPage .expandableListElement {
  width: 100%;
  background: #21385F;
}
.employmentPage .expandableListElement .contentContainer {
  align-items: center;
}
.employmentPage .expandableListElement .contentContainer .titleContainer {
  align-items: center;
  gap: 16px;
  padding: 24px 16px 24px 16px;
  cursor: pointer;
}
.employmentPage .expandableListElement .contentContainer .titleContainer .plus {
  width: 24px;
  height: 24px;
}
.employmentPage .expandableListElement .contentContainer .titleContainer .title {
  font: 400 24px Forum;
  color: #E8EAEE;
  line-height: 26px;
}
.employmentPage .expandableListElement .contentContainer .childrenContainer {
  gap: 24px;
  padding: 0px 16px 32px 16px;
}
.employmentPage .expandableListElement .contentContainer .childrenContainer .text {
  color: #BBC2CE;
}
.employmentPage .downloadWidgetList {
  gap: 32px;
}
.employmentPage .downloadWidget {
  justify-content: start;
  gap: 16px;
}
.employmentPage .downloadWidget img {
  height: 24px;
  width: 24px;
  color: #21385f;
}
.employmentPage .downloadWidget span {
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.employmentPage .downloadWidgetLight {
  justify-content: start;
  gap: 16px;
}
.employmentPage .downloadWidgetLight .iconBox {
  width: 24px;
  height: 24px;
}
.employmentPage .downloadWidgetLight .iconBox img {
  height: auto;
  width: 14px;
  color: #E8EAEE;
}
.employmentPage .downloadWidgetLight span {
  font: 300 16px "Museo Sans";
  color: #BBC2CE;
  line-height: 144%;
}
.employmentPage .eventsTable {
  width: 100%;
  min-width: 800px;
  grid-template-columns: 1fr 1.5fr 1fr [grid-end];
}
.employmentPage .eventsTable .th, .employmentPage .eventsTable .td {
  text-align: center;
}
.employmentPage .eventsTable .td {
  font: 400 24px Forum;
  line-height: 26px;
}
.employmentPage .partners {
  gap: 32px;
  max-width: calc((100px + 32px) * 6 - 32px);
  justify-content: center;
}
.employmentPage .partners img {
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
}

/*# sourceMappingURL=employment.css.map */
