@font-face {
    font-family: 'Museo Sans 100 Thin';
    src: url('../fonts/MuseoSansCyrl-100.eot');
    src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSans-100.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

/*
 для работы в коде css
 font-family: 'Museo Sans';
 font-weight: 300;
 */
@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('../fonts/MuseoSans_500.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../fonts/MuseoSans_700.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Forum';
    src: url('../fonts/Forum-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Soft Bold';
    src: url('../fonts/ProximaSoft-Bold.woff2') format('woff2'),
        url('../fonts/ProximaSoft-Bold.woff') format('woff'),
        url('../fonts/ProximaSoft-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft Regular';
    src: url('../fonts/ProximaSoft-Regular.woff2') format('woff2'),
        url('../fonts/ProximaSoft-Regular.woff') format('woff'),
        url('../fonts/ProximaSoft-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}