@font-face {
    font-family: 'Museo Sans 100 Thin';
    src: url('../fonts/MuseoSansCyrl-100.eot');
    src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }
 
 
 @font-face {
    font-family: 'Museo Sans';  
    src: url('../fonts/MuseoSans-100.otf') format('opentype'); 
    font-style: normal; 
    font-weight: 100;
}

@font-face {
    font-family: 'Museo Sans';  
    src: url('../fonts/MuseoSans-300.otf') format('opentype'); 
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: 'Museo Sans 500';  
    src: url('../fonts/MuseoSans_500.otf') format('opentype'); 
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans 700';  
    src: url('../fonts/MuseoSans_700.otf') format('opentype'); 
    font-style: normal; 
    font-weight: 700;
} 

@font-face {
    font-family: 'Forum';  
    src: url('../fonts/Forum-Regular.otf') format('opentype'); 
    font-style: normal; 
    font-weight: 700;
} 