.header-info-box{
  padding: 24px 0;
  width: 100% !important;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
}

.header-info-box-additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-info-box-additional img{
  display: inline-block;
  max-width: 20px;
  min-width: 14px;
  width: auto;
  height: 100%;
  margin-right: 10%;
}

.header-info {
  width: 87%;
}

.header-info-title{
  padding: 0 15px;
}

.header-info-logo {
  max-width: 125px;
  width: 100%;
  min-width: 60px;
}

.header-info-text__one{
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #64748F;
}

.header-info-text__two{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + (32 - 20) * (100vw - 375px) / (1920 - 375));
  line-height: 35px;
  color: #64748F;
}

.header-info-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  height: 30px;
}

.header-info-service__search{
  border-bottom: 1px solid;
}



.header-info-service__language{
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.header-menu{
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  height: max-content;
}

.header-menu__item{
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #686868;
}

.header-main-link{
  color: #294985;
}

.header-main-link:visited {
  color: #294985;
}

.header-main-link:active{
  color: #294985;
}

.header-main-link:hover{
  color: #686868;
  text-decoration: none;
}

/* выподающие меню */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  display: flex;
  border-top: 1px solid #BEC8DA;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 1628px;
}

.dropdown-content-main {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;
  left: 0;
  top: 250px;
  min-width: 1920px;
  justify-content: space-around;
}

.dropdown-content-main a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content-spec {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;
  left: 0;
  top: 250px;
  min-width: 1920px;
  justify-content: space-around;
}

.dropdown-content-spec a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;} */

.show {display: flex;}
.show-spec {display: flex;}


/* выподающие меню */

/* Для мобильной версии сайта */
.heade-info-box-compact{
  display: flex;
  width: 359px;
  margin: 10px 0px;
}

.heade-info-box-compact__logo{
  width: 59.96px;
  height: 53.3px;

}

.heade-info-box-compact__title{
  width: 24px;
  height: 24px; 
  flex-grow: 1;
}

.heade-info-box-compact__hamburger{
  display: none;
}

@media (max-width: 768px) {
  .header-info-title .col-3 {
    padding-right: 2px;
  }
  .header-info-text {
    padding-left: 2px !important;
    text-align: left;
  }

  .header-info-text-row {
    display: none !important;
  }

  .header-info-text__two {
    line-height: 22px;
    color: #294985;
  }

  .header-info-title {
    margin-top: 32px;
  }

  .heade-info-box-compact__hamburger {
    display: inline-block;
    padding-left: 0 !important;
  }

  .header-info-box-additional {
    display: none;
  }
}

/* Для мобильной версии сайта конец */


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}