@charset "UTF-8";
/* Стили таблицы (есть возможность переиспользовать) */
.main-table {
  overflow-x: auto;
  width: 100%;
  display: grid;
  /*
  Кастомные размеры столбцов
  ft - infoForOarticulars
  */
  /*Раскрашенные строки таблицы*/
}
.main-table .th {
  padding: 0 24px;
  background: var(--cobalt-100);
  font: 400 24px Forum;
  color: var(--cobalt-10);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-table .tr {
  display: grid;
  grid-template: inherit;
  grid-column: 1/grid-end;
  background: var(--cobalt-10);
  height: fit-content;
}
.main-table .td {
  padding: 0 24px;
  min-height: 78px;
  font: 300 16px "Museo Sans";
  color: var(--graphite-100);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-table .td--double-cell {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main-table .td--left {
  justify-content: flex-start;
  text-align: left;
}
.main-table .td--no-padding {
  padding: 0;
}
.main-table .td--gap-1 {
  gap: 5px;
}
.main-table--ft-finally-accept-company {
  grid-template-columns: minmax(230px, 1fr) minmax(200px, 1fr) minmax(173px, 1fr) minmax(189px, 1fr) minmax(180px, 1fr) minmax(180px, 1fr) minmax(180px, 1fr) [grid-end];
}
.main-table--speciality-ft-education {
  grid-template-columns: minmax(230px, 1fr) minmax(200px, 1fr) minmax(173px, 1fr) minmax(189px, 1fr) minmax(180px, 1fr) minmax(200px, 1fr) minmax(250px, 1fr) minmax(180px, 1fr) [grid-end];
}
.main-table--ifp-services {
  grid-template-columns: minmax(539px, 1fr) minmax(539px, 1fr) [grid-end];
}
.main-table--ifp-services .th {
  height: 58px;
}
.main-table-speciality {
  grid-template-columns: minmax(230px, 1fr) minmax(200px, 1fr) minmax(173px, 1fr) minmax(189px, 1fr) minmax(180px, 1fr) minmax(350px, 1fr) minmax(400px, 1fr) [grid-end];
}
.main-table-speciality .th {
  height: 136px;
}
.main-table--colored .tr:nth-child(odd) {
  background: var(--cobalt-10);
}
.main-table--colored .tr:nth-child(even) {
  background: var(--cobalt-30);
}

.width_87_percent {
  width: 87%;
}

.scope-style .accordion-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  gap: 16px;
  margin-bottom: 20px;
}
.scope-style .accordion-box__title {
  background: var(--saphire-100);
  padding: 20px 0;
  display: block;
  text-align: center;
}
.scope-style .accordion-box__title .accordion-box__title-text::before {
  content: "";
  left: -30px;
  position: absolute;
  color: var(--saphire-10);
  width: 24px;
  height: 24px;
}
.scope-style .accordion-box__title-text {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.scope-style .accordion-box__details {
  width: 100vw;
  text-align: left;
}
.scope-style .accordion-box__details .accordion-box__title-text::before {
  background: url(../img/icons/Addition.svg);
}
.scope-style .accordion-box__details[open] .accordion-box__title-text::before {
  background: url(../img/icons/Collapse.svg) no-repeat center;
}
.scope-style .accordion-box__content {
  display: flex;
  padding: 32px 0px;
}
.scope-style .accordion-box__text {
  text-align: left;
}

/*# sourceMappingURL=infoForParticulars.css.map */
