body {
  margin-left: 0;
  margin-right: 0;
}

.libraryPage {
  display: contents;
}
.libraryPage .allDefault, .libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2, .libraryPage .bookSearchForm .selectFrame select, .libraryPage .bookSearchForm .textInputFrame input, .libraryPage .aTextU, .libraryPage .aText, .libraryPage .aElement {
  all: unset;
}
.libraryPage .reset, .libraryPage *, .libraryPage .allDefault, .libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2, .libraryPage .bookSearchForm .selectFrame select, .libraryPage .bookSearchForm .textInputFrame input, .libraryPage .aTextU, .libraryPage .aText, .libraryPage .aElement {
  box-sizing: border-box;
  margin: 0;
}
.libraryPage .pageElement, .libraryPage .hScroll {
  width: clamp(400px, 100%, 1920px);
  padding: 0 144px 0 144px;
}
@media (max-width: 900px) {
  .libraryPage .pageElement, .libraryPage .hScroll {
    padding: 0 16px 0 16px;
  }
}
.libraryPage .pageElement2 {
  width: clamp(400px, 100%, 1920px);
  display: grid;
  padding: 0 16px 0 16px;
  grid-template-columns: min(100%, 1086px);
  place-content: center;
}
.libraryPage .abs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.libraryPage .rowWrap, .libraryPage .photos, .libraryPage .bookSearchForm .widgetRowSpaceBetween, .libraryPage .bookSearchForm .widgetRow {
  display: flex;
  flex-flow: row wrap;
}
.libraryPage .row, .libraryPage .bookSearchForm .checkbox, .libraryPage .downloadWidgetLight, .libraryPage .downloadWidget, .libraryPage .expandableListElement .contentContainer .titleContainer {
  display: flex;
  flex-flow: row nowrap;
}
.libraryPage .col, .libraryPage .bookSearchForm .widgetWithTitle, .libraryPage .downloadWidgetList, .libraryPage .expandableListElement .contentContainer .childrenContainer, .libraryPage .expandableListElement .contentContainer, .libraryPage .adCard, .libraryPage .bookSearchForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.libraryPage .center, .libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2, .libraryPage .downloadWidgetLight .iconBox, .libraryPage .expandableListElement, .libraryPage .hScroll {
  display: grid;
  place-items: center;
}
.libraryPage .none {
  display: none;
}
.libraryPage .contents {
  display: contents;
}
.libraryPage h2 {
  font: 400 40px Forum;
  color: #21385F;
  line-height: 44px;
}
.libraryPage h3 {
  font: 400 32px Forum;
  color: #64748F;
  line-height: 35px;
}
.libraryPage h4 {
  font: 400 24px Forum;
  color: #64748F;
  line-height: 26px;
}
.libraryPage .text, .libraryPage .bookSearchForm .widgetWithTitle .title, .libraryPage .bookSearchForm .checkbox .title, .libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2, .libraryPage .bookSearchForm .selectFrame select option, .libraryPage .bookSearchForm .selectFrame select, .libraryPage .bookSearchForm .textInputFrame input, .libraryPage .text2 {
  font: 300 16px "Museo Sans";
  color: #3B3B3B;
}
.libraryPage .text b, .libraryPage .bookSearchForm .widgetWithTitle .title b, .libraryPage .bookSearchForm .checkbox .title b, .libraryPage .bookSearchForm .button1 b, .libraryPage .bookSearchForm .button2 b, .libraryPage .bookSearchForm .selectFrame select b, .libraryPage .bookSearchForm .textInputFrame input b, .libraryPage .text2 b {
  font-weight: 600;
}
.libraryPage .aElement {
  display: contents;
}
.libraryPage .linkText:hover, .libraryPage .downloadWidgetLight span:hover, .libraryPage .downloadWidget span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.libraryPage .aText {
  display: inline-flex;
}
.libraryPage .aText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.libraryPage .aTextU {
  display: inline-flex;
  cursor: pointer;
  text-decoration: underline;
}
.libraryPage ul {
  padding-left: 22px;
}
.libraryPage .ul44 {
  padding-left: 44px;
}
.libraryPage ol {
  padding-left: 20px;
}
.libraryPage .adCard, .libraryPage .bookSearchForm {
  background: #697FA9;
  backdrop-filter: blur(32px);
  border-radius: 2px;
  padding: 31px;
  gap: 32px;
}
.libraryPage .adCard h3, .libraryPage .bookSearchForm h3 {
  color: #E9ECF2;
  align-self: center;
  text-align: center;
}
.libraryPage .adCard .text, .libraryPage .bookSearchForm .text, .libraryPage .bookSearchForm .widgetWithTitle .title, .libraryPage .bookSearchForm .checkbox .title, .libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2, .libraryPage .bookSearchForm .selectFrame select option, .libraryPage .bookSearchForm .selectFrame select, .libraryPage .bookSearchForm .textInputFrame input, .libraryPage .adCard .text2, .libraryPage .bookSearchForm .text2 {
  color: #BEC8DA;
}
.libraryPage .hScroll {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.libraryPage .gridTable {
  display: grid;
}
.libraryPage .gridTable .ths {
  display: contents;
}
.libraryPage .gridTable .th {
  padding: 16px 22px;
  background: #294985;
  font: 400 24px Forum;
  color: #E9ECF2;
  line-height: 26px;
}
.libraryPage .gridTable .tb {
  display: contents;
}
.libraryPage .gridTable .tb .tr * {
  background: #E9ECF2;
}
.libraryPage .gridTable .tbStriped {
  display: contents;
}
.libraryPage .gridTable .tbStriped > .tr:nth-of-type(odd) > * {
  background: #E9ECF2;
}
.libraryPage .gridTable .tbStriped > .tr:nth-of-type(even) > * {
  background: #BEC8DA;
}
.libraryPage .gridTable .tr {
  /*display: grid;
  grid-template: auto / subgrid;
  grid-column: 1 / grid-end;*/
  display: contents;
}
.libraryPage .gridTable .td {
  padding: 16px 22px;
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.libraryPage .expandableListElement {
  width: 100%;
  background: #21385F;
}
.libraryPage .expandableListElement .contentContainer {
  align-items: center;
}
.libraryPage .expandableListElement .contentContainer .titleContainer {
  align-items: center;
  gap: 16px;
  padding: 24px 16px 24px 16px;
  cursor: pointer;
}
.libraryPage .expandableListElement .contentContainer .titleContainer .plus {
  width: 24px;
  height: 24px;
}
.libraryPage .expandableListElement .contentContainer .titleContainer .title {
  font: 400 24px Forum;
  color: #E8EAEE;
  line-height: 26px;
}
.libraryPage .expandableListElement .contentContainer .childrenContainer {
  gap: 24px;
  padding: 0px 16px 32px 16px;
}
.libraryPage .expandableListElement .contentContainer .childrenContainer .text, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .widgetWithTitle .title, .libraryPage .bookSearchForm .widgetWithTitle .expandableListElement .contentContainer .childrenContainer .title, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .checkbox .title, .libraryPage .bookSearchForm .checkbox .expandableListElement .contentContainer .childrenContainer .title, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .button1, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .button2, .libraryPage .bookSearchForm .expandableListElement .contentContainer .childrenContainer .button1, .libraryPage .bookSearchForm .expandableListElement .contentContainer .childrenContainer .button2, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .selectFrame select option, .libraryPage .bookSearchForm .selectFrame select .expandableListElement .contentContainer .childrenContainer option, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .selectFrame select, .libraryPage .bookSearchForm .selectFrame .expandableListElement .contentContainer .childrenContainer select, .libraryPage .expandableListElement .contentContainer .childrenContainer .bookSearchForm .textInputFrame input, .libraryPage .bookSearchForm .textInputFrame .expandableListElement .contentContainer .childrenContainer input, .libraryPage .expandableListElement .contentContainer .childrenContainer .text2 {
  color: #BBC2CE;
}
.libraryPage .downloadWidgetList {
  gap: 32px;
}
.libraryPage .downloadWidget {
  justify-content: start;
  gap: 16px;
}
.libraryPage .downloadWidget img {
  height: 24px;
  width: 24px;
  color: #21385f;
}
.libraryPage .downloadWidget span {
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.libraryPage .downloadWidgetLight {
  justify-content: start;
  gap: 16px;
}
.libraryPage .downloadWidgetLight .iconBox {
  width: 24px;
  height: 24px;
}
.libraryPage .downloadWidgetLight .iconBox img {
  height: auto;
  width: 14px;
  color: #E8EAEE;
}
.libraryPage .downloadWidgetLight span {
  font: 300 16px "Museo Sans";
  color: #BBC2CE;
  line-height: 144%;
}
.libraryPage .text2 {
  line-height: 144%;
  color: #000000;
}
.libraryPage .bookSearchForm {
  align-items: start;
}
.libraryPage .bookSearchForm h3 {
  color: #E9ECF2;
  align-self: unset;
  text-align: unset;
}
.libraryPage .bookSearchForm .textInputFrame {
  width: 100%;
  height: 100%;
  display: grid;
  grid: "c";
}
.libraryPage .bookSearchForm .textInputFrame input {
  grid-area: c;
  width: 100%;
  height: 100%;
  background: none;
  padding: 8px;
  color: #E9E9E9;
}
.libraryPage .bookSearchForm .textInputFrame input::placeholder {
  color: #BEC8DA;
}
.libraryPage .bookSearchForm .textInputFrame .border {
  grid-area: c;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #E9E9E9;
}
.libraryPage .bookSearchForm .textInputFrame :where(input:active, input:focus) ~ .border {
  border-width: 2px;
}
.libraryPage .bookSearchForm .selectFrame {
  width: 100%;
  height: 100%;
  display: grid;
  grid: "c";
}
.libraryPage .bookSearchForm .selectFrame select {
  grid-area: c;
  appearance: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 8px 40px 8px 12px;
  color: #E9E9E9;
  cursor: pointer;
}
.libraryPage .bookSearchForm .selectFrame select option {
  all: initial;
  color: #3B3B3B;
}
.libraryPage .bookSearchForm .selectFrame .arrow {
  grid-area: c;
  place-self: center end;
  width: 20px;
  height: 100%;
  margin-right: 10px;
  pointer-events: none;
  background-image: url("../img/icons/arrow-1-down-2-light.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.libraryPage .bookSearchForm .selectFrame .border {
  grid-area: c;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
}
.libraryPage .bookSearchForm .selectFrame :where(select:active, select:focus) ~ .border {
  border-width: 2px;
}
.libraryPage .bookSearchForm .button1, .libraryPage .bookSearchForm .button2 {
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid #BEC8DA;
  border-radius: 2px;
  grid-auto-flow: column;
  place-content: center;
  cursor: pointer;
}
.libraryPage .bookSearchForm .button1:active, .libraryPage .bookSearchForm .button2:active, .libraryPage .bookSearchForm .button1:focus, .libraryPage .bookSearchForm .button2:focus {
  border-width: 2px;
}
.libraryPage .bookSearchForm .button2 {
  gap: 11.22px;
  border: none;
  background: #E9ECF2;
  color: #294985;
}
.libraryPage .bookSearchForm .button2:active, .libraryPage .bookSearchForm .button2:focus {
  border: 2px solid #294985;
}
.libraryPage .bookSearchForm .inlineIcon {
  display: inline-flex;
  height: 1.2em;
}
.libraryPage .bookSearchForm .checkbox {
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.libraryPage .bookSearchForm .checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}
.libraryPage .bookSearchForm .checkbox input:checked ~ .checkmark {
  width: 24px;
  height: 24px;
  background-color: #E9ECF2;
  border-radius: 2px;
  background-image: url("../img/icons/checkmark.svg");
}
.libraryPage .bookSearchForm .checkbox :not(input:checked) ~ .checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #E9ECF2;
  border-radius: 2px;
}
.libraryPage .bookSearchForm .checkbox input:active ~ .checkmark, .libraryPage .bookSearchForm .checkbox input:focus-visible ~ .checkmark {
  box-shadow: 0 0 0 0.2rem #E9ECF277;
}
.libraryPage .bookSearchForm .widgetRow {
  gap: 32px 113.5px;
  justify-content: center;
}
.libraryPage .bookSearchForm .widgetRowSpaceBetween {
  width: 100%;
  gap: 32px 113.5px;
  justify-content: space-between;
}
.libraryPage .bookSearchForm .widgetWithTitle {
  width: 265px;
  justify-content: end;
  gap: 4px;
}
@media (max-width: 624px) {
  .libraryPage .bookSearchForm .widgetWithTitle {
    width: 100%;
  }
}
.libraryPage .bookSearchForm .widgetWithTitle .title {
  color: #E9E9E9;
  line-height: 144%;
}
.libraryPage .bookSearchForm .widgetWithTitle .widgetBox {
  width: 100%;
  height: 39px;
}
.libraryPage .bookSearchForm .buttonBox {
  width: 265px;
  height: 55px;
}
@media (max-width: 624px) {
  .libraryPage .bookSearchForm .buttonBox {
    width: 100%;
  }
}
.libraryPage .bookSearchForm .expandableContent {
  display: none;
}
.libraryPage .bookSearchForm .collapsableContent {
  display: contents;
}
.libraryPage .bookSearchForm[data-expanded=true] .expandableContent {
  display: contents;
}
.libraryPage .bookSearchForm[data-expanded=true] .collapsableContent {
  display: none;
}
.libraryPage .photos {
  gap: 8px;
  width: 100%;
  max-width: calc((539px + 8px) * 2 - 8px);
  justify-content: center;
}
.libraryPage .photos img {
  width: 539px;
  aspect-ratio: 1.6896551724;
  object-position: center;
  object-fit: cover;
  border-radius: 2px;
}
@media (max-width: 624px) {
  .libraryPage .photos img {
    width: 100%;
  }
}

/*# sourceMappingURL=library.css.map */
