
body {
    margin-left: 0;
    margin-right: 0;
}

// Классы страницы помещаются под общий класс <pageName>page,
// чтобы применяться в пределах страницы
.libraryPage {
    display: contents;
    // Сброс параметров элементов
    * { @extend .reset }
    
    // Общие классы 1
    .allDefault {
        all: unset;
        @extend .reset;
    }
    .reset {
        box-sizing: border-box;
        margin: 0;
    }

    // Общие классы 2
    .pageElement {
        width: clamp(400px, 100%, 1920px);
        padding: 0 144px 0 144px;
        @media (max-width: 900px) {
            padding: 0 16px 0 16px;
        }
    }
    .pageElement2 {
        width: clamp(400px, 100%, 1920px);
        display: grid;
        padding: 0 16px 0 16px;
        grid-template-columns: min(100%,1086px);
        place-content: center;
    }
    .abs {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .rowWrap {
        display: flex;
        flex-flow: row wrap;
    }
    .row {
        display: flex;
        flex-flow: row nowrap;
    }
    .col {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
    }
    .center {
        display: grid;
        place-items: center;
    }
    .none {
        display: none;
    }
    .contents {
        display: contents;
    }


    // Общие классы 3
    h2 {
        font: 400 40px Forum;
        color: #21385F;
        line-height: 44px;
    }
    h3 {
        font: 400 32px Forum;
        color: #64748F;
        line-height: 35px;
    }
    h4 {
        font: 400 24px Forum;
        color: #64748F;
        line-height: 26px;
    }
    .text {
        font: 300 16px 'Museo Sans';
        color: #3B3B3B;

        b {
            font-weight: 600;
        }
    }
    // <a class="linkElement><div class="linkText"></div></a>
    .aElement {
        @extend .allDefault;
        display: contents;
    }
    .linkText {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    // <a class="aText">someText</a>
    .aText {
        @extend .allDefault;
        // убирает пробел сразу перед началом и после конца у тега <a>
        display: inline-flex;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .aTextU {
        @extend .allDefault;
        // убирает пробел сразу перед началом и после конца у тега <a>
        display: inline-flex;
        cursor: pointer;
        text-decoration: underline;
    }
    ul {
        padding-left: 22px;
    }
    .ul44 {
        padding-left: 44px;
    }
    ol {
        padding-left: 20px;
    }
    .adCard {
        background: #697FA9;
        backdrop-filter: blur(32px);
        border-radius: 2px;
        padding: 31px;
        gap: 32px;
        @extend .col;

        h3 {
            color: #E9ECF2;
            align-self: center;
            text-align: center;
        }
        .text {
            color: #BEC8DA;
        }
    }
    .hScroll {
        @extend .pageElement;
        @extend .center;
        width: 100%;
        height: fit-content;
        overflow: auto;
    }
    .gridTable {
        display: grid;

        .ths {
            display: contents;
        }
        .th {
            padding: 16px 22px;
            background: #294985;
            font: 400 24px Forum;
            color: #E9ECF2;
            line-height: 26px;
        }
        .tb {
            display: contents;
            .tr * {
                background: #E9ECF2;
            }
        }
        .tbStriped {
            display: contents;

            >.tr:nth-of-type(odd){
                &>*{
                    background: #E9ECF2;
                }
            }
            >.tr:nth-of-type(even){
                &>*{
                    background: #BEC8DA;
                }
            }
        }
        .tr {
            /*display: grid;
            grid-template: auto / subgrid;
            grid-column: 1 / grid-end;*/
            display: contents;
        }
        .td {
            padding: 16px 22px;
            //background: #E9ECF2;
            font: 300 16px 'Museo Sans';
            color: #282828;
            line-height: 144%;
        }
    }
    .expandableListElement {
        width: 100%;
        @extend .center;
        background: #21385F;

        .contentContainer {
            @extend .col;
            align-items: center;

            .titleContainer {
                @extend .row;
                align-items: center;
                gap: 16px;
                padding: 24px 16px 24px 16px;
                cursor: pointer;

                .plus {
                    width: 24px;
                    height: 24px;
                }
                .title {
                    font: 400 24px Forum;
                    color: #E8EAEE;
                    line-height: 26px;
                }
            }
            .childrenContainer {
                @extend .col;
                gap: 24px;
                padding: 0px 16px 32px 16px;

                //max-height: 0;
                //transition: max-height 0.5s linear;

                .text {
                    color: #BBC2CE;
                }
            }
        }
    }
    .downloadWidgetList {
         @extend .col;
         gap: 32px;
     }
    .downloadWidget {
        @extend .row;
        justify-content: start;
        gap: 16px;

        img {
            height: 24px;
            width: 24px;
            color: #21385f;
        }
        span {
            font: 300 16px 'Museo Sans';
            color: #282828;
            line-height: 144%;
            @extend .linkText;
        }
    }
    .downloadWidgetLight {
        @extend .row;
        justify-content: start;
        gap: 16px;

        .iconBox {
            width: 24px;
            height: 24px;
            @extend .center;

            img {
                height: auto;
                width: 14px;
                color: #E8EAEE;
            }
        }
        span {
            font: 300 16px 'Museo Sans';
            color: #BBC2CE;
            line-height: 144%;
            @extend .linkText;
        }
    }

    // Элементы страницы
    .text2 {
        @extend .text;
        line-height: 144%;
        color: #000000;
    }
    .bookSearchForm {
        @extend .adCard;
        align-items: start;
        
        h3 {
            color: #E9ECF2;
            align-self: unset;
            text-align: unset;
        }
        .textInputFrame {
            width: 100%; height: 100%;
            display: grid;
            grid: 'c';
            
            input {
                @extend .allDefault;
                grid-area: c;
                width: 100%; height: 100%;
                background: none;
                padding: 8px;
                @extend .text;
                color: #E9E9E9;
                
                &::placeholder {
                    color: #BEC8DA;
                }
            }
            .border {
                grid-area: c;
                width: 100%; height: 100%;
                pointer-events: none;
                border-bottom: 1px solid #E9E9E9;
            }
            :where(input:active, input:focus)~.border {
                border-width: 2px;
            }
        }
        .selectFrame {
            width: 100%; height: 100%;
            display: grid;
            grid: 'c';
            
            select {
                @extend .allDefault;
                grid-area: c;
                appearance: none;
                background: none;
                width: 100%; height: 100%;
                padding: 8px 40px 8px 12px;
                @extend .text;
                color: #E9E9E9;
                cursor: pointer;
        
                option {
                    all: initial;
                    @extend .text;
                    color: #3B3B3B;
                }
            }
            .arrow {
                grid-area: c;
                place-self: center end;
                width: 20px;
                height: 100%;
                margin-right: 10px;
                pointer-events: none;
                background-image: url('../img/icons/arrow-1-down-2-light.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
            .border {
                grid-area: c;
                width: 100%; height: 100%;
                pointer-events: none;
                border: 1px solid #E9E9E9;
                border-radius: 2px;
            }
            :where(select:active, select:focus)~.border {
                border-width: 2px;
            }
        }
        .button1 {
            @extend .allDefault;
            width: 100%; height: 100%;
            background: none;
            border: 1px solid #BEC8DA;
            border-radius: 2px;
            @extend .center;
            grid-auto-flow: column;
            place-content: center;
            @extend .text;
            cursor: pointer;
            
            &:active, &:focus {
                border-width: 2px;
            }
        }
        .button2 {
            @extend .button1;
            gap: 11.22px;
            border: none;
            background: #E9ECF2;
            color: #294985;
            &:active, &:focus {
                border: 2px solid #294985;
            }
        }
        .inlineIcon {
            display: inline-flex;
            height: 1.2em;
        }
        .checkbox {
            @extend .row;
            gap: 12px;
            align-items: center;
            cursor: pointer;
            
            input {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                width: 0; height: 0;
            }
            input:checked ~ .checkmark {
                width: 24px;
                height: 24px;
                background-color: #E9ECF2;
                border-radius: 2px;
                background-image: url('../img/icons/checkmark.svg');
            }
            :not(input:checked) ~ .checkmark {
                width: 24px;
                height: 24px;
                border: 2px solid #E9ECF2;
                border-radius: 2px;
            }
            input:active~.checkmark,input:focus-visible~.checkmark {
                box-shadow: 0 0 0 0.2rem #E9ECF277;
            }
            .title {
                @extend .text;
            }
        }
        .widgetRow {
            @extend .rowWrap;
            gap: 32px 113.5px;
            justify-content: center;
        }
        .widgetRowSpaceBetween {
            @extend .rowWrap;
            width: 100%;
            gap: 32px 113.5px;
            justify-content: space-between;
        }
        .widgetWithTitle {
            width: 265px;
            @extend .col;
            justify-content: end;
            gap: 4px;
    
            @media (max-width: 624px) {
                width: 100%;
            }
            
            .title {
                @extend .text;
                color: #E9E9E9;
                line-height: 144%;
            }
            .widgetBox {
                width: 100%;
                height: 39px;
            }
        }
        .buttonBox {
            width: 265px;
            height: 55px;
    
            @media (max-width: 624px) {
                width: 100%;
            }
        }
        .expandableContent {
            display: none;
        }
        .collapsableContent {
            display: contents;
        }
        &[data-expanded=true] .expandableContent {
            display: contents;
        }
        &[data-expanded=true] .collapsableContent {
            display: none;
        }
    }
    .photos {
        @extend .rowWrap;
        $itemW: 539px;
        $itemH: 319px;
        $gap: 8px;
        $maxCols: 2;
        gap: $gap;
        width: 100%;
        max-width: calc((#{$itemW} + #{$gap}) * #{$maxCols}  -  #{$gap});
        justify-content: center;

        img {
            width: $itemW;
            aspect-ratio: $itemW / $itemH;
            object-position: center;
            object-fit: cover;
            border-radius: 2px;
            
            @media (max-width: 624px) {
                width: 100%;
            }
        }
    }
}



