/* TODO: комментарии в коде */
/* NOTE:  */

:root {
  --saphire-100: #21385f;
  --graphite-100: #282828;
  --cobalt-100: #294985;
}

/* Общий стиль для всех заголовков страницы между NavBar и Footer*/
.header-text__body {
  color: #21385F;
  font-family: 'Forum';
  margin-bottom: 32px;
  font-size: 40px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.H {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}

.H1 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
}

.H3 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.body_thin {
  font-family: "Museo Sans 300 Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
}

.body_bold {
  /* bodyBold */
  font-family: "Museo Sans 500";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.line {
  height: 0px;
  border: 1px solid #c4ad83;
  align-self: stretch;
}

.forum_400 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
}

.museo-sans_300 {
  font-family: "Museo Sans 300 Light";
  font-style: normal;
  font-weight: 300;
}

.link,
.link_spec {
  text-decoration: none !important;
  font-family: "Museo Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 22px !important;
}

.link:visited,
.link_spec:visited {
  color: #686868;
}

.link:active,
.link_spec:active {
  color: #686868;
}

.link:hover,
.link_spec:hover {
  color: #294985;
  font-family: "Museo Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  text-decoration: underline;
}

.link-sapphire_30 {
  color: #bbc2ce;
  text-decoration: none;
}

.link-sapphire_30:visited {
  color: #bbc2ce;
}

.link-sapphire_30:active {
  color: #bbc2ce;
}

.link-sapphire_30:hover {
  color: #0056b3;
  text-decoration: underline;
}

.link_white {
  text-decoration: none;
}

.link_white:visited {
  color: #e9ecf2;
}

.link_white:active {
  color: #e9ecf2;
}

.link_gold_30 {
  text-decoration: none;
}

.link_gold_30:visited {
  color: #ede6d9;
}

.link_gold_30:active {
  color: #ede6d9;
}

.color_cobalt {
  color: #294985;
}

.color-cobalt_70 {
  color: #294985;
}

.color_white {
  color: #ffffff;
}

.color_graphite_10 {
  color: #e9e9e9;
}

.color_graphite_70 {
  color: #686868;
}

.color_graphite_100 {
  color: var(--graphite-100);
}

.color_graphite_30 {
  color: #bebebe;
}

.color_gold_70 {
  color: #697fa9;
}

.color-sapphire_10 {
  color: #e8eaee;
}

.color-sapphire_30 {
  color: #bbc2ce;
}

.color-sapphire_100 {
  color: var(--saphire-100);
}

.text_span span {
  text-align: center;
  color: #ede6d9;
}

.font_size-24 {
  font-size: 24px;
}

.font_height-26 {
  line-height: 26px;
}

.font_size-24_height-26 {
  font-size: 24px;
  line-height: 26px;
}

.font_size-32_height-35 {
  font-size: 32px;
  line-height: 35px;
}

.font_size-16_height-144 {
  font-size: 16px;
  line-height: 23px;
}

.button {
  /* Кобальтовый/100 */
  background: #294985;
  /* Золотой/100 */
  height: 39px;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_pointer {
  cursor: pointer;
}

.flex-box_row {
  display: flex;
  flex-direction: row;
}

.flex-box_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* использую на страницы search */
.gap_8 {
  gap: 8px;
}

.gap_15 {
  gap: 16px;
}

.gap_15 {
  gap: 16px;
}

.gap_24 {
  gap: 24px;
}

.gap_40 {
  gap: 42px;
}

.container-fluid {
  width: 87% !important;
}

.list-decoration__none {
  padding: 0;
  list-style-type: none;
}

@media (max-width: 576px) {
  .container-fluid {
    width: 100% !important;
    padding: 0 !important;
  }

  .row {
    padding: 0 !important;
  }
}


/* slider swiper.js pagination style */

.swiper-pagination-bullets>.swiper-pagination-bullet {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid var(--cobalt-100)
}

.swiper-pagination-bullets>.swiper-pagination-bullet-active {
  background-color: var(--cobalt-100);
}