.slider-major{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
}

.slider-major__title{
width: 249px;
height: 35px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
}

#slider-major__slider { /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider-major__slider{ /*центровка слайдера*/
  margin: 0 auto;
}

#slider-major__slides .slider-major__article{ /*все изображения справа друг от доруга*/
  width: 20%;
  float: left;
  /* test*/
  display: flex;
}

#slider-major__slides .slider-major__image{ /*устанавливает общий размер блока с изображениями*/
  width: 500%;
  line-height: 0;
}

#slider-major__overflow{ /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

.slider-major__article img{ /*размер изображений слайдера*/
  width: 100%;
}

#slider-major__desktop:checked ~ #slider{ /*размер всего слайдера*/
/* max-width: 960px;  */
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#slider-major__switch1:checked ~ #controls label:nth-child(5), 
#slider-major__switch2:checked ~ #controls label:nth-child(1),
#slider-major__switch3:checked ~ #controls label:nth-child(2),
#slider-major__switch4:checked ~ #controls label:nth-child(3),
#slider-major__switch5:checked ~ #controls label:nth-child(4){
  background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
  float: left;
  margin: 0 0 0 -84px; /*сдвиг влево*/
  display: block;
  height: 68px;
  width: 68px;
}

.slider-major__article a{ /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.slider-major__box{  
  width: 1633px;
}

.slider-major__box input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#slider-major__switch1:checked ~ #slider-major__slides .slider-major__image{
  margin-left: 0;
}

#slider-major__switch2:checked ~ #slider-major__slides .slider-major__image{
  margin-left: -100%;
}

#slider-major__switch3:checked ~ #slider-major__slides .slider-major__image{
  margin-left: -200%;
}

#slider-major__switch4:checked ~ #slider-major__slides .slider-major__image{
  margin-left: -300%;
}

#slider-major__switch5:checked ~ #slider-major__slides .slider-major__image{
  margin-left: -400%;
}

#slider-major__active label{ /*стиль отдельного переключателя*/
  /* border-radius: 10px; скругление углов */
  display: inline-block; /*расположение в строку*/
  width: 15px;
  height: 15px;
  background: #294985;
}

#slider-major__active{ /*расположение блока с переключателями*/
  /* margin: 23% 0 0; */
  text-align: center;
}

#slider-major__active label:hover{ /*поведение чекбокса при наведении*/
  background: #76c8ff;
  border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#slider-major__switch1:checked ~ #slider-major__active label:nth-child(1),
#slider-major__switch2:checked ~ #slider-major__active label:nth-child(2),
#slider-major__switch3:checked ~ #slider-major__active label:nth-child(3),
#slider-major__switch4:checked ~ #slider-major__active label:nth-child(4),
#slider-major__switch5:checked ~ #slider-major__active label:nth-child(5){
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slider-major__slides .slider-major__image{ /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slider-major__controls label:hover{ /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#slider-major__controls label{ /*прозрачность стрелок при отводе курсора*/
  transition: opacity 0.2s ease-out;
}

.slider-major__slide-one{
  position: relative;
  width: 539px;
  height: 322px;
}

.slider-major__slide-two{
  position: relative;
  width: 539px;
  height: 322px;
}

.slider-major__slide-three{
  position: relative;
  width: 539px;
  height: 322px;
}

.slider-major__blure{
  position: absolute;
  width: 539px;
  height: 84px;
  left: 0px;
  top: 121px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(32px);
}

/* Для мобильной версии сайта */


@media (max-width: 375px) {
  .slider-major__box{
    display: none;
  }
  .slider-major-compact{
    display: flex;
    flex-direction: column;
  }
  
  .slider-major-compact__slide-one{
    position: relative;
    width: 359px;
    height: 322px;
  }
  
  .slider-major-compact__slide-two{
    position: relative;
    width: 359px;
    height: 322px;
  }
  
  .slider-major-compact__slide-three{
    position: relative;
    width: 359px;
    height: 322px;
  }

  .slider-major-compact__blur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 16px 32px; */
    gap: 10px;

    position: absolute;
    width: 359px;
    height: 84px;
    left: 0px;
    top: 121px;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(32px);

  }

}

@media (min-width:376px) {
  .slider-major-compact{
    display: none;
  }
}



/* Для мобильной версии сайта end */