.threeDayTourPage {
  display: contents;
}
.threeDayTourPage .reset, .threeDayTourPage .allDefault, .threeDayTourPage .linkElement, .threeDayTourPage .linkText, .threeDayTourPage * {
  box-sizing: border-box;
  margin: 0;
}
.threeDayTourPage .allDefault, .threeDayTourPage .linkElement, .threeDayTourPage .linkText {
  all: unset;
}
.threeDayTourPage .pageElement, .threeDayTourPage .hScroll {
  width: clamp(400px, 100%, 1920px);
  padding: 0 144px 0 144px;
}
@media (max-width: 900px) {
  .threeDayTourPage .pageElement, .threeDayTourPage .hScroll {
    padding: 0 16px 0 16px;
  }
}
.threeDayTourPage .rowWrap {
  display: flex;
  flex-flow: row wrap;
}
.threeDayTourPage .row, .threeDayTourPage .downloadWidget, .threeDayTourPage .fullWidthBtn .content {
  display: flex;
  flex-flow: row nowrap;
}
.threeDayTourPage .col, .threeDayTourPage .downloadWidgetList {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.threeDayTourPage .center, .threeDayTourPage .fullWidthBtn, .threeDayTourPage .hScroll {
  display: grid;
  place-items: center;
}
.threeDayTourPage h2 {
  font: 400 40px Forum;
  color: #21385F;
  line-height: 44px;
}
.threeDayTourPage h3 {
  font: 400 32px Forum;
  color: #64748F;
  line-height: 35px;
}
.threeDayTourPage h4 {
  font: 400 24px Forum;
  color: #64748F;
  line-height: 26px;
}
.threeDayTourPage .text {
  font: 300 16px "Museo Sans";
  color: #3B3B3B;
}
.threeDayTourPage .text b {
  font-weight: 600;
}
.threeDayTourPage .linkText {
  cursor: pointer;
}
.threeDayTourPage .linkText:hover {
  text-decoration: underline;
}
.threeDayTourPage .linkElement {
  display: contents;
  cursor: pointer;
}
.threeDayTourPage .linkElement:hover > * {
  text-decoration: underline;
}
.threeDayTourPage .ul {
  padding-left: 20px;
}
.threeDayTourPage .ol {
  padding-left: 20px;
}
.threeDayTourPage .hScroll {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.threeDayTourPage .gridTable, .threeDayTourPage .responsiblePeople, .threeDayTourPage .servicesOnObject, .threeDayTourPage .addressAndPhone {
  display: grid;
}
.threeDayTourPage .gridTable .th, .threeDayTourPage .responsiblePeople .th, .threeDayTourPage .servicesOnObject .th, .threeDayTourPage .addressAndPhone .th {
  padding: 16px 24px;
  background: #294985;
  font: 400 24px Forum;
  color: #E9ECF2;
}
.threeDayTourPage .gridTable .tb, .threeDayTourPage .responsiblePeople .tb, .threeDayTourPage .servicesOnObject .tb, .threeDayTourPage .addressAndPhone .tb {
  display: contents;
}
.threeDayTourPage .gridTable .tb .tr *, .threeDayTourPage .responsiblePeople .tb .tr *, .threeDayTourPage .servicesOnObject .tb .tr *, .threeDayTourPage .addressAndPhone .tb .tr * {
  background: #E9ECF2;
}
.threeDayTourPage .gridTable .tbStriped, .threeDayTourPage .responsiblePeople .tbStriped, .threeDayTourPage .servicesOnObject .tbStriped, .threeDayTourPage .addressAndPhone .tbStriped {
  display: contents;
}
.threeDayTourPage .gridTable .tbStriped > .tr:nth-of-type(odd) > *, .threeDayTourPage .responsiblePeople .tbStriped > .tr:nth-of-type(odd) > *, .threeDayTourPage .servicesOnObject .tbStriped > .tr:nth-of-type(odd) > *, .threeDayTourPage .addressAndPhone .tbStriped > .tr:nth-of-type(odd) > * {
  background: #E9ECF2;
}
.threeDayTourPage .gridTable .tbStriped > .tr:nth-of-type(even) > *, .threeDayTourPage .responsiblePeople .tbStriped > .tr:nth-of-type(even) > *, .threeDayTourPage .servicesOnObject .tbStriped > .tr:nth-of-type(even) > *, .threeDayTourPage .addressAndPhone .tbStriped > .tr:nth-of-type(even) > * {
  background: #BEC8DA;
}
.threeDayTourPage .gridTable .tr, .threeDayTourPage .responsiblePeople .tr, .threeDayTourPage .servicesOnObject .tr, .threeDayTourPage .addressAndPhone .tr {
  /*display: grid;
  grid-template: auto / subgrid;
  grid-column: 1 / grid-end;*/
  display: contents;
}
.threeDayTourPage .gridTable .td, .threeDayTourPage .responsiblePeople .td, .threeDayTourPage .servicesOnObject .td, .threeDayTourPage .addressAndPhone .td {
  padding: 24px;
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.threeDayTourPage .fullWidthBtn {
  width: 100%;
  min-height: 74px;
  background: #21385F;
}
.threeDayTourPage .fullWidthBtn .content {
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.threeDayTourPage .fullWidthBtn .content .plus {
  width: 24px;
  height: 24px;
}
.threeDayTourPage .fullWidthBtn .content .title {
  font: 400 24px Forum;
  color: #E8EAEE;
  line-height: 26px;
}
.threeDayTourPage .downloadWidgetList {
  gap: 32px;
}
.threeDayTourPage .downloadWidget {
  justify-content: start;
  gap: 16px;
}
.threeDayTourPage .downloadWidget img {
  height: 24px;
  width: 24px;
  color: #21385f;
}
.threeDayTourPage .downloadWidget span {
  font: 300 16px "Museo Sans";
  color: #282828;
  line-height: 144%;
}
.threeDayTourPage .mapImg {
  width: min(100%, 600px);
  height: auto;
}
.threeDayTourPage .addressAndPhone {
  grid-template-columns: 256px 346px [grid-end];
}
.threeDayTourPage .servicesOnObject {
  width: 100%;
  min-width: 660px;
  overflow-x: auto;
  grid-template-columns: 1fr 2fr [grid-end];
}
.threeDayTourPage .responsiblePeople {
  width: 100%;
  min-width: 800px;
  grid-template-columns: 1fr 1fr 0.5fr [grid-end];
}

/*# sourceMappingURL=three-day-tour.css.map */
